* {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f7a54e31;
}

.game {
    position: relative;
    width: 650px;
    height: 200px;
    border-bottom: 30px solid #f7a54e;
    margin: auto;
    border-radius: 16px;
    background-color: #f7a54e79;
    margin-top: 180px;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

#dino {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji';
    font-size: 50px;
    position: relative;
    top: 150px;
    right: 550px;
    transform: scaleX(-1);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

#cactus {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji';
    font-size: 45px;
    position: relative;
    top: 90px;
    left: 580px;
    animation: cactusMov 1s infinite linear;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

#timer {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-size: 26px;
}

.info__game {
    font-size: 36px;
    padding-top: 150px;
    text-align: center;
}

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
  }
  
  #dialogbox {
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
  }
  
  #dialogbox>div {
    background: #FFF;
    margin: 8px;
  }
  
  #dialogbox>div>#dialogboxhead {
    background: #666;
    font-size: 19px;
    padding: 10px;
    color: #CCC;
  }
  
  #dialogbox>div>#dialogboxbody {
    background: #333;
    padding: 20px;
    color: #FFF;
  }
  
  #dialogbox>div>#dialogboxfoot {
    background: #666;
    padding: 10px;
    text-align: right;
  }

@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px
    }
}

.jump {
    animation: jump 0.3s ease-out;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 130px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 130px;
    }
    100% {
        top: 150px;
    }
}